.tabsNavLink {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    color: #3f3f3f;
    padding: 20px 40px;
    cursor: pointer;
    text-decoration: none;

    &:hover,
    &:focus {
        color: darken(#3f3f3f, 20);
    }
}

.tabsNavLink--isActive {
    border-bottom: 4px solid darken(#3f3f3f, 20);

    & .tabsNavLink__icon {
        transform: rotate(90deg);
        transform-origin: center;
    }
}


.tabsNavLink__icon {
    transition: transform .35s ease-in-out;

    & svg {
        display: block;
        fill: #cccccc;
    }
}

// Vertical Layout
.tabs--isVert {

    .tabsNavLink:not(:first-child) {
        border-top: 1px solid #cccccc;
    }

    .tabsNavLink--isActive {
        border-bottom: 0;
    }
}
