$SPACE: 10px;
@import './_tabsNavLink.scss';

.tabs__nav {
    margin-bottom: 10px;
}
.tabs__nav > * {
    display: inline-block;
}

.tabs__nav > * + * {
    margin-left: 5px;
}

.tabs__panels {
    overflow: hidden;
}

.tabs__panel {
    position: absolute;
    left: -100%;
    visibility: hidden;
    padding: 20px 40px;
    opacity: 0;
    transition: opacity .5s ease-in-out, transform .35s ease-in-out;
}

.tabs__panel--isActive {
    position: relative;
    transform: translateX(100%);
    visibility: visible;
    opacity: 1;
}


.tabs--isVert {

    .tabs__panel {
        left: 0;
        top: -100px;
        transform: scaleY(0);
        transition: opacity .25s ease-in-out;
    }

    .tabs__panel--isActive {
        top: 0;
        transform: scaleY(1);
        background-color: #cccccc;
        transform: none;
    }
}
